<!DOCTYPE html>
<html lang="ja">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>COCO's ガチャ</title>
</head>
<body data-spy="scroll" data-target="#navbarResponsive">
    <div class="caption text-center">
        <h1>COCO's ガチャ</h1>
        <form method="POST" action="/result">
            <p>
            <input type="checkbox" name="menu" value="0">ハンバーグ
            <input type="checkbox" name="menu" value="1">ステーキ
            <input type="checkbox" name="menu" value="2">スパゲッティ
            <input type="checkbox" name="menu" value="3">プレート
            <input type="checkbox" name="menu" value="4">セットメニュー
            <input type="checkbox" name="menu" value="5">サイドメニュー
            <input type="checkbox" name="menu" value="6">サラダ
            <input type="checkbox" name="menu" value="7">和食
            <input type="checkbox" name="menu" value="8">デザート
            </p>
            <p>
            <input type="submit" name="submit" value="ガチャを回す" class="btn btn-outline-danger btn-lg">
            </p>
        </form>
    </div>
</body>
</html>